<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xidian.activities.mapper.ActivityMapper">
    <sql id="Activity_Columns">
        activity_name, activity_description, activity_type, activity_status,
        start_time, end_time, location, organizer, contact_person, contact_phone,
        contact_email, poster_url, max_participants, current_participants,
        registration_start_time, registration_end_time, registration_requirement,
        check_in_start_time, check_in_end_time, publish_time, creator_id,
        is_deleted, create_time, update_time
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO activities (
            <include refid="Activity_Columns"/>
        ) VALUES (
                     #{activityName}, #{activityDescription}, #{activityType}, #{activityStatus}, #{startTime}, #{endTime},
                     #{location}, #{organizer}, #{contactPerson}, #{contactPhone}, #{contactEmail}, #{posterUrl},
                     #{maxParticipants}, #{currentParticipants}, #{registrationStartTime}, #{registrationEndTime},
                     #{registrationRequirement}, #{checkInStartTime}, #{checkInEndTime}, #{publishTime}, #{creatorId},
                     #{isDeleted}, #{createTime}, #{updateTime}
                 )
    </insert>

    <update id="update" useGeneratedKeys="true" keyProperty="id">
        UPDATE activities
        <set>
            <if test="activityName != null">activity_name = #{activityName},</if>
            <if test="activityDescription != null">activity_description = #{activityDescription},</if>
            <if test="activityType != null">activity_type = #{activityType},</if>
            <if test="activityStatus != null">activity_status = #{activityStatus},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="location != null">location = #{location},</if>
            <if test="organizer != null">organizer = #{organizer},</if>
            <if test="contactPerson != null">contact_person = #{contactPerson},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="contactEmail != null">contact_email = #{contactEmail},</if>
            <if test="posterUrl != null">poster_url = #{posterUrl},</if>
            <if test="maxParticipants != null">max_participants = #{maxParticipants},</if>
            <if test="currentParticipants != null">current_participants = #{currentParticipants},</if>
            <if test="registrationStartTime != null">registration_start_time = #{registrationStartTime},</if>
            <if test="registrationEndTime != null">registration_end_time = #{registrationEndTime},</if>
            <if test="registrationRequirement != null">registration_requirement = #{registrationRequirement},</if>
            <if test="checkInStartTime != null">check_in_start_time = #{checkInStartTime},</if>
            <if test="checkInEndTime != null">check_in_end_time = #{checkInEndTime},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        UPDATE activities
        SET
            is_deleted = 1,
            update_time = NOW()
        WHERE id = #{id}
    </delete>

    <select id="getById" resultType="com.xidian.activities.bean.Activity">
        SELECT
        id, <include refid="Activity_Columns"/>
        FROM activities
        WHERE id = #{id}
        AND is_deleted = 0
    </select>

    <select id="getByName" resultType="com.xidian.activities.bean.Activity">
        SELECT
        id, <include refid="Activity_Columns"/>
        FROM activities
        WHERE activity_name = #{activityName}
        AND is_deleted = 0
    </select>
</mapper>